.box{
    /* border: 2px solid ; */
    box-sizing: border-box;
    flex: 1;
}
.grid{
    display: flex;
    width: 480px;
    height: 480px;
    margin: auto;
    border: 2px solid black;
}

.hovered{
    background-color: blue;
}

.row{
    display: flex;
    flex-direction: column;
    flex: 1;
}